body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #030812;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding-inline-start: 0px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .logo img {
  margin-right: 18px;
  width: 53px;
}
header .logo h1 {
  font-weight: 500;
}
header .search input {
  width: 296px;
  height: 48px;
  border: none;
  border-radius: 8px;
  background-color: #3C485D;
  background-image: url(../../assets/svg/User.svg);
  background-repeat: no-repeat;
  background-size: 10%;
  background-position-y: center;
  background-position-x: 10px;
  padding: 12px 50px;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
}
header .menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .menu li {
  margin-right: 32px;
}
header .menu a {
  color: #FFFFFF;
}
header .menu a:hover {
  color: #fdae8f;
}
header .menu .botonHeader {
  background: #fdae8f;
  background: linear-gradient(90deg, #fdae8f 0%, #fd1c68 100%);
  padding: 16px 20px;
  border-radius: 12px;
}
header .menu .botonHeader i {
  margin-right: 6px;
}
header .menu .botonHeader:hover {
  background: #030812;
}

main {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-description {
  width: 470px;
}
main .main-description h1 {
  font-size: 48px;
  font-weight: 400;
}
main .main-description h1 strong {
  background: #fdae8f;
  background: linear-gradient(90deg, #fdae8f 0%, #fd1c68 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
}
main .main-description p {
  font-size: 20px;
  font-weight: 300;
}
main .main-description .main-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}
main .main-description .main-buttons a:first-child {
  background: #fdae8f;
  background: linear-gradient(90deg, #fdae8f 0%, #fd1c68 100%);
  color: #FFFFFF;
  padding: 21px 56px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 16px;
}
main .main-description .main-buttons a:last-child {
  background-color: #030812;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 21px 56px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 16px;
}
main .main-image {
  margin-left: 50px;
}
main .main-image img {
  width: 670px;
}

.steps {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.steps h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
}
.steps .step-container {
  width: 1171px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.steps .step-container .step {
  width: 236px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.steps .step-container .step h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 24px 0px 4px;
}
.steps .step-container .step p {
  margin: 0;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
}
.steps .step-container .step a {
  color: #FFFFFF;
  padding: 20px 30px;
  border-radius: 800px;
  font-size: 40px;
}
.steps .step-container .step:nth-child(1) a {
  background: #23d3a4;
  background: linear-gradient(90deg, #23d3a4 0%, #5b49cf 100%);
}
.steps .step-container .step:nth-child(2) a {
  background: #739eec;
  background: linear-gradient(90deg, #739eec 0%, #ff8c9f 65%);
}
.steps .step-container .step:nth-child(3) a {
  background-color: red;
}
.steps .step-container .step:nth-child(4) a {
  background-color: red;
}

.nfts {
  margin-top: 130px;
}
.nfts-description {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nfts-description h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
}
.nfts-description a {
  background: #fdae8f;
  background: linear-gradient(90deg, #fdae8f 0%, #fd1c68 100%);
  color: #FFFFFF;
  padding: 21px 56px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 16px;
}
.nfts-description a i {
  margin-right: 6px;
}
.nfts-description a:hover {
  background: #030812;
  color: #fdae8f;
}
.nfts .cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nfts .cards .card {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.nfts .cards .card-image {
  width: 300px;
  height: 300px;
  background-image: url(../../assets/jpg/producto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: top;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}
.nfts .cards .card-id {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}
.nfts .cards .card-id-name {
  margin-left: 15px;
}
.nfts .cards .card-id-name h3 {
  margin: 0px;
  font-size: 18px;
  font-weight: 500;
}
.nfts .cards .card-id-name p {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  color: #8393AF;
}
.nfts .cards .card-id-name p strong {
  color: #FFFFFF;
  font-weight: 400;
}
.nfts .cards .card-reactions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nfts .cards .card-reactions div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nfts .cards .card-reactions div i {
  font-size: 16px;
}
.nfts .cards .card-reactions div span {
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
}
.nfts .cards .card-reactions div span strong {
  font-weight: 200;
}
.nfts .cards .card-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}
.nfts .cards .card-buttons a:first-child {
  background-color: #3c485d;
  padding: 10px 15px;
  border-radius: 10px;
  color: #FFFFFF;
}
.nfts .cards .card-buttons a:last-child {
  background: #fdae8f;
  background: linear-gradient(90deg, #fdae8f 0%, #fd1c68 100%);
  padding: 10px 35px;
  border-radius: 10px;
  color: #FFFFFF;
}

.collection .collection-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.collection-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.collection-card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.collection-card-grid #c1, .collection-card-grid #c2, .collection-card-grid #c3, .collection-card-grid #c4 {
  width: 100px;
  height: 100px;
  background-image: url(../../assets/jpg/producto.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.collection-description {
  margin-top: 35px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.collection-description-id {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  margin-right: 20px;
}
.collection-description-id-name {
  margin-left: 10px;
}
.collection-description-id-name h3 {
  margin: 0px;
  font-size: 12px;
  font-weight: 500;
}
.collection-description-id-name p {
  margin: 0;
  font-size: 8px;
  font-weight: 400;
  color: #8393AF;
}
.collection-description-id-name p strong {
  color: #FFFFFF;
  font-weight: 400;
}
.collection-description-like {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collection-description-like i {
  font-size: 16px;
}
.collection-description-like span {
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
}
.collection-description-like span strong {
  font-weight: 200;
}

.sellers-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sellers-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px 20px;
  border-radius: 10px;
}
.sellers-card-id {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sellers-card-id-name {
  margin-left: 10px;
}
.sellers-card-id-name h3 {
  margin: 0px;
  font-size: 12px;
  font-weight: 500;
}
.sellers-card-id-name p {
  margin: 0;
  font-size: 8px;
  font-weight: 400;
  color: #8393AF;
}
.sellers-card-id-name p strong {
  color: #FFFFFF;
  font-weight: 400;
}

footer {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
footer .colum1 {
  width: 470px;
}
footer .colum1-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
footer .colum1-logo img {
  margin-right: 10px;
}
footer .colum1-logo h1 {
  font-weight: 500;
}
footer .colum1 p {
  font-weight: 400;
  color: #8393AF;
}
footer .colum1-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
footer .colum1-info i {
  font-size: 30px;
  margin-right: 10px;
}
footer .colum1-info span, footer .colum1-info p {
  margin: 0;
  font-size: 12px;
}
footer .colum2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
footer .colum2-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 570px;
}
footer .colum2-block-colum {
  width: 170px;
}
footer .colum2-block-colum h3 {
  font-weight: 300;
  font-size: 20px;
}
footer .colum2-block-colum a {
  color: #8393AF;
}

/*# sourceMappingURL=style.css.map */
