@media screen and (max-width: 1024px) {
  header .logo img {
    width: 40px !important;
    margin-right: 5px !important;
  }
  header .logo h1 {
    font-size: 25px;
  }
  header .search input {
    width: 200px !important;
  }
  header .menu li {
    margin-right: 15px !important;
    font-size: 13px !important;
  }
  header .menu .botonHeader {
    padding: 12px 15px !important;
    font-size: 10px !important;
  }

  main .main-image img {
    width: 330px !important;
  }
  main .main-description h1 {
    font-size: 40px !important;
  }
  main .main-description .main-buttons {
    margin-top: 30px !important;
  }
  main .main-description .main-buttons a {
    padding: 15px 40px !important;
    font-size: 15px !important;
  }

  .steps .step-container {
    justify-content: center !important;
    width: auto !important;
  }
  .steps h1 {
    font-size: 30px !important;
  }
  .steps div:last-child {
    margin: 0 !important;
  }
  .steps .step {
    margin-right: 30px;
    width: 180px !important;
    text-align: center !important;
  }
  .steps .step a {
    font-size: 20px !important;
    border-radius: 500px;
    padding: 15px 20px !important;
  }
  .steps .step h3 {
    font-size: 15px !important;
  }
  .steps .step p {
    font-size: 12px !important;
  }

  .nfts-description {
    margin-bottom: 40px;
  }
  .nfts-description h1 {
    font-size: 30px !important;
    margin: 0 !important;
  }
  .nfts-description .nftBoton {
    padding: 15px 40px !important;
    font-size: 15px !important;
  }
  .nfts .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nfts .card-image {
    width: 200px !important;
    height: 200px !important;
  }
  .nfts .card-id img {
    width: 50px !important;
  }
  .nfts .card-id-name h3 {
    font-size: 15px !important;
  }
  .nfts .card-id-name p {
    font-size: 10px !important;
  }
  .nfts .card-reactions-like {
    margin-right: 20px;
  }
  .nfts .card-reactions-crown {
    margin-right: 20px;
  }
  .nfts .card .card-buttons a:first-child {
    padding: 8px 10px !important;
    font-size: 10px;
    margin-right: 10px;
  }
  .nfts .card .card-buttons a:last-child {
    padding: 8px 25px !important;
    font-size: 10px;
  }

  .sellers-card {
    padding: 10px 15px !important;
  }

  footer .colum1 {
    width: auto;
  }
  footer .colum1-logo img {
    width: 40px !important;
    margin-right: 5px !important;
  }
  footer .colum1-logo h1 {
    font-size: 25px;
  }
  footer .colum1 p {
    font-size: 12px;
  }
  footer .colum1-info i {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 768px) {
  header {
    justify-content: space-between !important;
    padding: 40px;
    height: auto !important;
  }

  ul {
    padding-inline-start: 0px;
  }

  .close, .hamburger {
    display: initial !important;
  }

  .hamburger, .close {
    border: none;
    cursor: pointer;
    position: absolute;
    top: 58px;
    right: 20px;
    width: 36px;
    height: 36px;
    border-radius: 5px;
  }

  .hamburger {
    background: white;
  }

  .close {
    background: black;
  }

  .hamburger img, .close img {
    width: 100%;
    height: 100%;
  }

  .navbar {
    margin: 0px !important;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    list-style: none;
    background: black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.2s ease;
  }

  .navbar:target {
    transform: translateY(0);
  }

  li a {
    display: block;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    border-bottom: 1px solid black;
    padding-bottom: 0.5rem;
  }

  li a:hover, li a:focus {
    border-bottom: 1px solid white;
  }

  header .menu li {
    margin: 10px 0px !important;
  }

  .botonHeader {
    margin-top: 20px;
  }

  main {
    flex-direction: column-reverse;
  }
  main .main-image {
    margin-left: 0px !important;
  }
  main .main-description {
    text-align: center !important;
  }

  .steps h1 {
    font-size: 25px !important;
  }
  .steps .step {
    margin-right: 20px;
    width: 140px !important;
  }
  .steps .step h3 {
    font-size: 12px !important;
  }
  .steps .step p {
    font-size: 10px !important;
  }

  .nfts-description h1 {
    font-size: 25px !important;
  }
  .nfts-description .nftBoton {
    padding: 14px 20px !important;
    font-size: 12px !important;
  }

  .sellers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sellers .nfts-description {
    display: flex;
  }
  .sellers .sellers-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 400px;
  }
  .sellers-card {
    padding: 5px 15px !important;
  }
  .sellers-card img {
    width: 40px;
  }
  .sellers-card-id-name {
    margin-left: 10px;
  }
  .sellers-card-id-name h3 {
    margin: 0px;
    font-size: 10px;
    font-weight: 500;
  }
  .sellers-card-id-name p {
    margin: 0;
    font-size: 5px;
    font-weight: 400;
    color: #8393AF;
  }
  .sellers-card-id-name p strong {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 7px;
  }

  footer {
    padding: 40px 10px !important;
  }
  footer .colum1-logo {
    justify-content: center !important;
  }
  footer .colum1 p {
    text-align: center !important;
  }
  footer .colum1-info {
    display: none !important;
  }
  footer .column2 {
    display: none !important;
  }
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #030812;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding-inline-start: 0px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .logo img {
  margin-right: 18px;
  width: 53px;
}
header .logo h1 {
  font-weight: 500;
}
header .search input {
  width: 296px;
  height: 48px;
  border: none;
  border-radius: 8px;
  background-color: #3C485D;
  background-image: url(../../assets/svg/User.svg);
  background-repeat: no-repeat;
  background-size: 10%;
  background-position-y: center;
  background-position-x: 10px;
  padding: 12px 50px;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
}
header .menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .menu li {
  margin-right: 32px;
}
header .menu a {
  color: #FFFFFF;
}
header .menu a:hover {
  color: #fdae8f;
}
header .menu .botonHeader {
  background: #fdae8f;
  background: linear-gradient(90deg, #fdae8f 0%, #fd1c68 100%);
  padding: 16px 20px;
  border-radius: 12px;
}
header .menu .botonHeader i {
  margin-right: 6px;
}
header .menu .botonHeader:hover {
  background: #030812;
}
header .close, header .hamburger {
  display: none;
}

main {
  padding: 50px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-description {
  width: 470px;
}
main .main-description h1 {
  font-size: 48px;
  font-weight: 400;
}
main .main-description h1 strong {
  background: #fdae8f;
  background: linear-gradient(90deg, #fdae8f 0%, #fd1c68 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
}
main .main-description p {
  font-size: 20px;
  font-weight: 300;
}
main .main-description .main-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}
main .main-description .main-buttons a:first-child {
  background: #fdae8f;
  background: linear-gradient(90deg, #fdae8f 0%, #fd1c68 100%);
  color: #FFFFFF;
  padding: 21px 56px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 16px;
}
main .main-description .main-buttons a:last-child {
  background-color: #030812;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 21px 56px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 16px;
}
main .main-image {
  margin-left: 50px;
}
main .main-image img {
  width: 670px;
}

.steps {
  padding: 50px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.steps h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
}
.steps .step-container {
  width: 1171px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.steps .step-container .step {
  width: 236px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.steps .step-container .step h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 24px 0px 4px;
}
.steps .step-container .step p {
  margin: 0;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
}
.steps .step-container .step a {
  color: #FFFFFF;
  padding: 20px 30px;
  border-radius: 800px;
  font-size: 40px;
}
.steps .step-container .step:nth-child(1) a {
  background: #23d3a4;
  background: linear-gradient(90deg, #23d3a4 0%, #5b49cf 100%);
}
.steps .step-container .step:nth-child(2) a {
  background: #739eec;
  background: linear-gradient(90deg, #739eec 0%, #ff8c9f 65%);
}
.steps .step-container .step:nth-child(3) a {
  background-color: red;
}
.steps .step-container .step:nth-child(4) a {
  background-color: red;
}

.nfts {
  padding: 50px 10px;
}
.nfts-description {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nfts-description h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
}
.nfts-description a {
  background: #fdae8f;
  background: linear-gradient(90deg, #fdae8f 0%, #fd1c68 100%);
  color: #FFFFFF;
  padding: 21px 56px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 16px;
}
.nfts-description a i {
  margin-right: 6px;
}
.nfts-description a:hover {
  background: #030812;
  color: #fdae8f;
}
.nfts .cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nfts .cards .card {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.nfts .cards .card-image {
  width: 300px;
  height: 300px;
  background-image: url(../../assets/jpg/producto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: top;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}
.nfts .cards .card-id {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}
.nfts .cards .card-id-name {
  margin-left: 15px;
}
.nfts .cards .card-id-name h3 {
  margin: 0px;
  font-size: 18px;
  font-weight: 500;
}
.nfts .cards .card-id-name p {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  color: #8393AF;
}
.nfts .cards .card-id-name p strong {
  color: #FFFFFF;
  font-weight: 400;
}
.nfts .cards .card-reactions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nfts .cards .card-reactions div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nfts .cards .card-reactions div i {
  font-size: 16px;
}
.nfts .cards .card-reactions div span {
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
}
.nfts .cards .card-reactions div span strong {
  font-weight: 200;
}
.nfts .cards .card-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}
.nfts .cards .card-buttons a:first-child {
  background-color: #3c485d;
  padding: 10px 15px;
  border-radius: 10px;
  color: #FFFFFF;
}
.nfts .cards .card-buttons a:last-child {
  background: #fdae8f;
  background: linear-gradient(90deg, #fdae8f 0%, #fd1c68 100%);
  padding: 10px 35px;
  border-radius: 10px;
  color: #FFFFFF;
}

.collection {
  padding: 50px 10px;
}
.collection .collection-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.collection-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.collection-card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.collection-card-grid #c1, .collection-card-grid #c2, .collection-card-grid #c3, .collection-card-grid #c4 {
  width: 100px;
  height: 100px;
  background-image: url(../../assets/jpg/producto.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.collection-description {
  margin-top: 35px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.collection-description-id {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  margin-right: 20px;
}
.collection-description-id-name {
  margin-left: 10px;
}
.collection-description-id-name h3 {
  margin: 0px;
  font-size: 12px;
  font-weight: 500;
}
.collection-description-id-name p {
  margin: 0;
  font-size: 8px;
  font-weight: 400;
  color: #8393AF;
}
.collection-description-id-name p strong {
  color: #FFFFFF;
  font-weight: 400;
}
.collection-description-like {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collection-description-like i {
  font-size: 16px;
}
.collection-description-like span {
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
}
.collection-description-like span strong {
  font-weight: 200;
}

.sellers {
  padding: 50px 10px;
}
.sellers-cards {
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sellers-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px 20px;
  border-radius: 10px;
}
.sellers-card-id {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sellers-card-id-name {
  margin-left: 10px;
}
.sellers-card-id-name h3 {
  margin: 0px;
  font-size: 12px;
  font-weight: 500;
}
.sellers-card-id-name p {
  margin: 0;
  font-size: 8px;
  font-weight: 400;
  color: #8393AF;
}
.sellers-card-id-name p strong {
  color: #FFFFFF;
  font-weight: 400;
}

footer {
  padding: 80px 40px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
footer .colum1 {
  width: 470px;
}
footer .colum1-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
footer .colum1-logo img {
  margin-right: 10px;
}
footer .colum1-logo h1 {
  font-weight: 500;
}
footer .colum1 p {
  font-weight: 400;
  color: #8393AF;
}
footer .colum1-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
footer .colum1-info i {
  font-size: 30px;
  margin-right: 10px;
}
footer .colum1-info span, footer .colum1-info p {
  margin: 0;
  font-size: 12px;
}
footer .column2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
footer .column2-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 570px;
}
footer .column2-block-colum {
  width: 170px;
}
footer .column2-block-colum h3 {
  font-weight: 300;
  font-size: 20px;
}
footer .column2-block-colum a {
  color: #8393AF;
  line-height: 50px;
}

/*# sourceMappingURL=style.css.map */
