body{
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: $negroNeutro;
    color: $blancoNeutro;

}


a{
    text-decoration: none;
}
li{
    list-style: none;
}
ul{
    padding-inline-start: 0px;
}

