//Colores
$negroNeutro: #030812;
$blancoNeutro: #FFFFFF;
$colorTexto: #8393AF;
$boton1:#3C485D;
$backgroundImageColor: #F2B4B0;
$backgroundImageColor2: #F6FDE2;
$backgroundImageColor3: #E2F3FE;
$backgroundImageColor4: #DC5683;

// Store 
 /* dark shades of primary color*/
 $clr-primary-2: hsl(21, 84%, 25%);
 $clr-primary-3: hsl(21, 81%, 29%);
 $clr-primary-1: hsl(21, 91%, 17%);
 $clr-primary-4: hsl(21, 77%, 34%);
 /* primary/main color */
 $clr-primary-5: hsl(21, 62%, 45%);
 /* lighter shades of primary color */
 $clr-primary-6: hsl(21, 57%, 50%);
 $clr-primary-7: hsl(21, 65%, 59%);
 $clr-primary-8: hsl(21, 80%, 74%);
 $clr-primary-9: hsl(21, 94%, 87%);
 $clr-primary-10: hsl(21, 100%, 94%);
 /* darkest grey - used for headings */
 $clr-grey-1: #030812;
 $clr-grey-2: #030812;
 $clr-grey-3: #FFFFFF;
 $clr-grey-4: #030812;
 /* grey used for paragraphs */
 $clr-grey-5: #FFFFFF;
 $clr-grey-6: #030812;
 $clr-grey-7: #030812;
 $clr-grey-8: #030812;
 $clr-grey-9: #030812;
 $clr-grey-10: #030812;
 $clr-white: #030812; //Cambiar negro
 $clr-red-dark: hsl(360, 67%, 44%);
 $clr-red-light: hsl(360, 71%, 66%);
 $clr-green-dark: hsl(125, 67%, 44%);
 $clr-green-light: hsl(125, 71%, 66%);
 $clr-black: #222;

 $transition: all 0.3s linear;
 $spacing: 0.1rem;
 $radius: 0.25rem;
 $light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
 $dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
 $max-width: 1170px;
 $fixed-width: 620px;

// Store Final



//Login


  $first-color: #12192C;
  $text-color: #fff;
  $body-font: 'Poppins', sans-serif;
  $big-font-size: 2rem;
  $normal-font-size: 0.938rem;
  $smaller-font-size: 0.875rem;
  $big-font-size: 2.5rem;
  $normal-font-size: 1rem;





  
  :root{
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    /*
        Blue: hsl(207, 90%, 61%)
        Purple: hsl(250, 66%, 75%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
    */

    --hue: 207;
    --sat: 90%;
    --lig: 61%;

    --first-color: hsl(var(--hue), var(--sat), var(--lig));
    --first-color-alt: hsl(var(--hue), var(--sat), 57%); /* -4% */
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: hsl(var(--hue), 12%, 45%);
    --text-color-light: hsl(var(--hue), 8%, 75%);
    --text-color-lighten: hsl(var(--hue), 8%, 92%);
    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: #fff;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;

    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    // Responsive typography
    @media screen and (min-width: 968px){
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}



//Linear Colors
@mixin linear1 {
    background: rgb(253,174,143);
    background: linear-gradient(90deg, rgba(253,174,143,1) 0%, rgba(253,28,104,1) 100%);
}
@mixin linear2 {
    background: rgb(35,211,164);
    background: linear-gradient(90deg, rgba(35,211,164,1) 0%, rgba(91,73,207,1) 100%);
}
@mixin linear3 {
    background: rgb(115,158,236);
    background: linear-gradient(90deg, rgba(115,158,236,1) 0%, rgba(255,140,159,1) 65%);
}


*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}